<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css'
        integrity='sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=='
        crossorigin='anonymous' referrerpolicy='no-referrer' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>

    <div id="root">
        <div class="container">
            <div class="container-left">
                <div class="header-col-left">
                    <div class="header-left">
                        <div class="img_profile">
                            <img src="./img/avatar_io.jpg" alt="">
                        </div>
                        <span class="name">Sofia</span>
                    </div>
                    <div class="header-right">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>

                    </div>
                </div>
                <div class="notifications">
                    <div class="bell-ico">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div class="desc-notifications">
                        <h4>Ricevi notifiche di nuovi messaggi</h4>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                </div>
                <div class="search-bar">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                    <input type="text" placeholder="Cerca o inizia una nuova chat" @keyup="filterContacts()"
                        v-model="search">
                </div>
                <div class="contacts">
                    <ul class="contact-list">
                        <li class="contact-elem" :class="{hidden : !contact.visible}" v-for="(contact,i) in contacts"
                            @click="changeChat(i)">
                            <div style="display: flex; justify-content: space-between;">
                                <div class="contact-left">
                                    <div class="contact-img">
                                        <img :src="`./img/avatar${contact.avatar}.jpg`" alt="">
                                    </div>
                                    <div class="info-contact">
                                        <div class="contact-name">{{contact.name}}</div>
                                        <div class="last-msg-sent">
                                            {{checkLastMsg(contact.messages)}}
                                        </div>
                                    </div>
                                </div>
                                <div class="hour">12:56</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="container-right">
                <div class="header-col-right">
                    <div class="header-chat-left">
                        <div class="chat-contact-img">
                            <img :src="`./img/avatar${contacts[currentUser].avatar}.jpg`" alt="">

                        </div>
                        <div class="info-contact">
                            <div class="contact-name">{{contacts[currentUser].name}}</div>
                            <div class="last-access">Ultimo accesso oggi alle 12:00</div>
                        </div>
                    </div>

                    <div class="header-chat-right">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>

                    </div>
                </div>

                <div class="chat">
                    <div v-if="contacts[currentUser].messages.length === 0" class="no-message">
                        <h4>Nessun Messaggio</h4>
                    </div>
                    <div v-for="(msg,i) in contacts[currentUser].messages" class="row-msg"
                        :class="{'msg-sent' : msg.status === 'sent'}">
                        <div class="box-message">
                            <div class="modal" v-show="msg.modalActive">
                                <button class="msgInfo">Info Message <i class="fa-solid fa-circle-info"></i></button>
                                <button class="msgDelete" @click="deleteMsg(i)">Delete Message <i
                                        class="fa-solid fa-trash-can"></i></button>
                            </div>
                            <div class="msg" :class="msg.status === 'sent' ? 'sent' : 'reiceved'" @click="showModal(i)">
                                <p>{{msg.message}}</p>
                                <div class="hour">
                                    {{checkData(msg.date)}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="send-msg">
                    <div class="footer-ico">
                        <div v-show="emoji" class="emoji-container">
                            <div>😂</div>
                            <div>😀</div>
                            <div>😁</div>
                            <div>😎</div>
                        </div>
                        <i class="fa-regular fa-face-smile" @click="showEmoji()"></i>
                    </div>
                    <div class="input-chat">
                        <input type="text" placeholder="Scrivi un messaggio" @keyup.enter="sendMsg()" v-model="msg">
                    </div>
                    <div class="footer-ico">
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src='https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js'></script>
    <script src="js/main.js"></script>
</body>

</html>